/*Global var and styles Start*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --eggshell-white:#d9dcd6;
    --white-text-color: #ffffff;
    --dark-blue-background: #0072bb;
    --light-blue-background: #2589bd;

}
/*Global var and styles End*/

/*Body Style Start*/
body {
    background-color: var(--eggshell-white);
}
/*Body Style End*/

/*Header Style Start*/
/*Corrected header to match semantic element in HTML*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--white-text-color);
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: var(--eggshell-white);
}
/* Replaced div with nav to maintain CSS */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/* Replaced div with nav to maintain CSS */
header nav ul {
    list-style-type: none;
}
/* Replaced div with nav to maintain CSS */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Adding nav for more specificity*/
nav a {
    color: var(--white-text-color);
    text-decoration: none;
}

nav p {
    font-size: 16px;
}
/*Header Style End*/

/*Hero Style Start*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/*Hero Style End*/

/*Utility classes for floats Start*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*Utility classes for floats End*/

/*Content Style Start*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Consolidated .search-engine-optimization, online-reputation-management 
and social-media marketing into a single CSS Rule*/
section article {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--dark-blue-background);
    color: var(--white-text-color);
}
/*Consolidated .search-engine-optimization, online-reputation-management 
and social-media marketing images into a single CSS Rule*/
section article img {
    max-height: 200px;
}
/*Consolidated .search-engine-optimization, online-reputation-management 
and social-media marketing h2 into a single CSS Rule*/
section article h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Content Style End*/

/*Benefits Style Start*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--light-blue-background);
}

.benefit-lead {
    margin-bottom: 32px;
    color: var(--white-text-color);
}

.benefit-brand {
    margin-bottom: 32px;
    color: var(--white-text-color);
}

.benefit-cost {
    margin-bottom: 32px;
    color: var(--white-text-color);
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Benefits Style End*/

/*Corrected footer to match semantic element in html*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
